name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y exiftool

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install . --break-system-packages
          pip install pytest

      - name: Build dev image
        run: |
          make dev-clean
          make test
